body {
    width: 800px;
    margin: auto;
    background-color: #e4000f;
    font-family: 'Lato', sans-serif;
}
#smashPic {
    width: 800px;
    height: auto;
    float: left;
    padding-bottom: 25px;
}
h1 {
    font-family: 'Lato', sans-serif;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    background-color: #727272;
    color: #ffffff;
}
.content {
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0;
}
ol {
    line-height: 1.5;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.game {
    background-color: #ffffff;
    padding-bottom: 50px;
    text-align: center;
}
h4 {
    text-align: center;
    font-size: 20px;
    color: #e4000f;
}
p {
    text-align: center;
}
button {
    background-color: #e4000f;
    padding: 10px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 40%;
    float: left;
}

#placeholders {
    font-size: 20px;
    line-height: 1.5;
}
.answer {
    background-color: #727272;
    color: #ffffff;
    letter-spacing: 12px;
    text-align: center;
    padding: 25px;
}
footer {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}
#musicBtn {
    background-color: #e4000f;
    padding: 10px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 40%;
    float: left;
    margin-right: 20px;
    margin-left: 60px;
}
.info {
    text-align: center;
    padding: 20px;
}
#musicBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
h2 {
    text-align: center;
}
.charPics {
    background-color: #000000;
    padding: 20px;
    height: 750px;
}
.hint {
    font-family: 'Lato', sans-serif;
    color: #727272;
    font-size: 12px;
}
.container {
    position: relative;
    width: 22%;
    float: left;
    padding: 11px;
  }
.charImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .container:hover .image {
    opacity: 0.3;
  }
  .container:hover .middle {
    opacity: 1;
  }
  .text {
    background-color: #727272;
    color: white;
    font-size: 14px;
    padding: 5px;
  }